.Container {
    width: 100%;
    min-height: 650px; /* Hauteur minimale du conteneur */
    overflow: auto;
    
}

.TitreBody {
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.h2Body {
    font-size: 35px;
}

.boxes {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px 20px;
  }
  
  .box {
    width: 400px;
    height: 200px;
    perspective: 1000px;
  }
  
  .box-content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
  }
  
  .box:hover .box-content {
    transform: rotateY(180deg);
  }
  
  img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .box-info {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    color: black;
    background-color:#F4ECEF; /* Fond blanc */
  }
  
  .box-info p {
    margin: 0;
  }
  
  h3{
    font-size: 20px;
    color:  black;
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
  }

.desc{
    font-size: 30px;
    color: #AF2F64;
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
    padding: 10px;
  }